{% extends 'layout.html.twig' %}
{% block title %}
	set admins
{% endblock  %}
{% block content %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	{% for message in app.flashes('message')%}
		<div class='alert alert-success'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes('warning')%}
		<div class='alert alert-warning'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes(' danger')%}
		<div class=' alert alert-danger'>{{message}}</div>
	{% endfor %}
	<h2>ajouter un admin
	</h2>
	<h1>Ajouter
		{{users.nom}}.{{users.prenom}}
		comme admin du site</h1>
	{{ form_start(form) }}
	{{ form_end(form) }}
{% endblock  %}
