{% extends 'layout.html.twig' %}

{% block title %}
	{% trans %}Nouveau mot de passe{% endtrans %}
{% endblock %}

{% block content %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	{% for message in app.flashes('message')%}
		<div class='alert alert-success'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes('warning')%}
		<div class='alert alert-warning'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes(' danger')%}
		<div class=' alert alert-danger'>{{message}}</div>
	{% endfor %}
	<div class="card-body">
		<h4 class="title text-center mt-4">
			{% trans %}Veuillez mettre un nouveau mot de passe{% endtrans %}
		</h4>

		<form method="post">
			<div class="form-input">

				<input type="password" name="password" id="pass" placeholder="Mot De Passe">
				<input type="hidden" name="token" value=" {{ token }}">
			</div>
			<div class="mb-3 login">
				<button type="submit" id='register'>
					{% trans %}Envoyer{% endtrans %}
				</button>
			</div>
		</form>
	{% endblock %}
