{% extends "layout.html.twig" %}
{% block meta %}
	<meta name="description " content=" 1ère sur l'info. Retrouvez toute l'actualité , en photo et en vidéo sur lunetteriegriffa news, sociale, économique, sportive et internationale.">
{% endblock %}
{% block title %}
	{% trans %}l'actualité des lunettes ,tout savoir sur la nouveauté des lunettes{% endtrans %}
{% endblock %}

{% block content %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	{% for message in app.flashes('message')%}
		<div class='alert alert-success'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes('warning')%}
		<div class='alert alert-warning'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes(' danger')%}
		<div class=' alert alert-danger'>{{message}}</div>
	{% endfor %}
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 ">
				<h1 class='display-4 index-h1'>{% trans %}Soyez Toujours à Jour{% endtrans %}</h1>
				<hr>
			</div>
		</div>
	</div>
	<article class="site_container">
		<div class="article-container">
			{% if actualite.key is  not same as null %}
				{% for actualite in actualite %}
					<section class="article-card" onclick="location.href='{{path('actualite-show', {'slug': actualite.slug})}}'">
						<figure class="article-image">
							<img class="ar-img" src="{{ asset ('/images/actualite/' ~ actualite.image ) | imagine_filter('article1') }}" alt="{{actualite.alt}}">
						</figure>
						<div class="article-content">
							<a href="" class="cart-categorie">Griffa</a>
							<h3 class="card-title">{{actualite.titre}}</h3>

							<div class="card-excerpt ">
								{{actualite.accrouche |  slice(0 , 120) | raw }}<a class="lire" href="{{path('actualite-show', {'slug': actualite.slug})}}">...Lire La Suite</a>

							</div>
						</div>

					</section>
				{% endfor %}
			{% else %}
				<div class="container-fluid padding">
					<div class="row welcome text-center">
						<div class="container-b">
							<a class="btn btn1 rounded">{% trans %}Aucun article publié pour le moment{% endtrans %}</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</article>
{% endblock %}
