{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}Nos Magasins{% endtrans %}
{% endblock  %}
{% block carousel %}{% endblock %}
{% block content %}
	<div class="container-ac">

		<section class="row ">

			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Griffa Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>17 Rue des Lilas , 77500 Chelles, France
						</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 28 69 00 79</a>
						</p>
						<p id="sambre-titre ">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div class="carousel-item active  item-produit ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-2.jpg' ) }}" alt="image de notre magasin Griffa "></figure>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="row ">
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div class="carousel-item active  item-produit">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-3.jpg' ) }}" alt="image de notre magasin Griffa"></figure>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Griffa Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>7 Rue du Quinconce 77200, Torcy , France</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 45 13 55 79</a>
						</p>
						<p class="sambre-titre ">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
		</section>
		<section class="row ">

			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Griffa Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>61b Rue de la Folie Regnault, 75011 Paris, France</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 55 87 15 67</a>
						</p>
						<p class="sambre-titre ">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div class="carousel-item active item-produit ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-4.jpg' ) }}" alt="image de notre magasin Griffa"></figure>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="row ">
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div class="carousel-item active  item-produit">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-1.jpg' ) }}" alt="image de notre magasin Griffa"></figure>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Griffa Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>25 Rue de la Liberté, 93160 Noisy-le-Grand, France</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 22 58 34 74</a>
						</p>
						<p class="sambre-titre ">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
		</section>


	</div>

	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 ">
				<h4 class="actualite-h1">choisissez un magasin à proximité et calculez votre itinéraire</h4>
			</div>
		</div>
	</div>
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 mx-auto ">
				<div id="maCarte"></div>
			</div>
		</div>
	</div>
	<!-- Fichiers Javascript -->

{% endblock %}
{% block javascript %}

	<script src="{{asset('js/street-maps.js')}}"></script>
{% endblock %}
