{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}Filtrer{% endtrans %}
{% endblock %}

{% block content %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	{% for message in app.flashes('warning')%}
		<div class='alert alert-warning'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes(' danger')%}
		<div class=' alert alert-danger'>{{message}}</div>
	{% endfor %}
	<article class="row">

		<section class="col-md-3 " id="sticky">
			{{form_start (form )}}
			<div class="row">

				<div class=" col-md-12 col-12">{{form_row(form.q)}}</div>

			</div>
			<div class="row">

				<div class=" col-md-5 col-sm-5 col-5 filter">
					<h4 class="cat-filter">{% trans %}Formes{% endtrans %}</h4>
					{{form_row(form.formes)}}</div>
				<div class=" col-md-5 col-5 ">
					<h4 class="cat-filter">Couleurs</h4>

					{{form_row(form.couleurs)}}</div>

			</div>
			<div class="row">

				<div class=" col-md-5 col-sm-5  col-6 filter">
					<h4 class="cat-filter">{% trans %}Styles{% endtrans %}</h4>
					{{form_row(form.style)}}</div>
				<div class=" col-md-5 col-5 ">
					<h4 class="cat-filter">Marques</h4>
					{{form_row(form.marques)}}</div>

			</div>
			<div class="row">
				<div class=" col-md-5   col-5 filter">
					<h4 class="cat-filter">{% trans %}Prix{% endtrans %}</h4>
					<div>{{form_row(form.min)}}</div>
					<div>{{form_row(form.max)}}</div>
				</div>
				<div class=" col-md-5 col-5 ">
					<h4 class="cat-filter">{% trans %}Sexe{% endtrans %}</h4>
					{{form_row(form.categories)}}</div>


			</div>
			<div class="row">
				<div class=" col-md-12  col-12 filter text-center">

					<div>
						<button type="submit" id='register'>
							{% trans %}Recherche{% endtrans %}
						</button>
					</div>

				</div>
			</div>
			{{form_end (form)}}
		</section>

		<section class="col-md-8 " id="sticky">
			<div class="row ">
				{% for message in app.flashes('message')%}
					<div class='alert alert-success'>{{message}}</div>
				{% endfor %}
				{% for article in articles %}
					<div class=" col-lg-4 col-md-6 col-sm-6 ">

						<div class="product-grid">
							<div class="product-image">
								<a href="{{path('article', {'slug': article.slug})}}">
									<figure><img class="pic-1" src="{{ asset ('/images/attachments/' ~ article.attachments[0].image )}}" alt="{{article.imageAlt}}"></figure>
									<figure><img class="pic-2" src="{{ asset ('/images/attachments/' ~ article.attachments[1].image)}}" alt="{{article.imageAlt}}"></figure>


								</a>
								<ul class="social ">
									<li>
										<a href="{{path('article', {'slug': article.slug})}}" data-tip="Quick View">
											<i class="fa fa-search"></i>
										</a>
									</li>


								</ul>
								<span class="product-new-label">{{article.style}}</span>
								<span class="product-discount-label">{{article.marques}}</span>
							</div>

							<div class="product-content">
								<h3 class="title">
									<a href="{{path('article', {'slug':article.slug})}}">{{article.nom}}</a>

								</h3>
								<a href="#" class="categ">{% trans %}Pour
									{% endtrans %}:
									{{article.categorie}}</a>
								<div class="price">{{article.prix }},00€
									{#| tva (article.tvaMultiplication) #}
								</div>
								<a class="add-to-cart" href="{{ path('ajouter', {'id': article.id}) }}">{% trans %}Ajouter au panier{% endtrans %}</a>
							</div>
						</div>

					</div>

				{% endfor %}

			</div>
			<div class="row">
				<div class=" col-md-12  col-12  pagination">

					<div>{{ knp_pagination_render (articles)}}</div>


				</div>
			</div>


		</section>

	</article>

{% endblock %}
