{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
	<header>
		{%  block nav %}
			<nav class="navbar navbar-expand-lg   ">
				<div class="container-fluid navigation">
					<a class="navbar-brand" href="{{path('home')}}">
						<figure><img src="{{asset('image/logo-site3.png')}}" alt="logo de notre site " class='logo'></figure>
					</a>
					<button class="navbar-toggler navbar navbar-light " style="background-color: rgb(70, 201, 66);" type="button " data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav   borderYtoX ">


							<li class="nav-item  ">
								<a class="nav-link " href="{{path ('filter')}}">
									<i class="fas fa-filter"></i>
									{% trans %}Filtrer{% endtrans %}</a>
							</li>
							<li class="nav-item   ">
								<a class="nav-link " href="{{path ('marques')}}">
									<i class="fas fa-award"></i>
									{% trans %}Marques{% endtrans %}</a>
							</li>
							<li class="nav-item   ">
								<a class="nav-link " href="{{path ('magasins')}}">
									<i class="fas fa-store"></i>
									{% trans %}Magasins{% endtrans %}</a>
							</li>
							<li class="nav-item   ">
								<a class="nav-link " href="{{path ('actualites')}}">
									<i class="fas fa-glasses"></i>
									{% trans %}Actualite
									{% endtrans %}</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}

								<li class="nav-item   ">
									<a class="nav-link" href="{{path('admin')}}">
										<i class="fas fa-tools"></i>
										{% trans %}Espace admin{% endtrans %}</a>
								</li>
							{% endif %}
							{#{% if is_granted('IS_AUTHENTICATED_FULLY') %}
																																																									<li class="nav-item   ">
																																																										<a class="nav-link" href="{{path('app_promotAdmin' , {'id': app.user.id})}}">
																																																											<i class="fas fa-tools"></i>
																																																											{% trans %}Ajouter un admin{% endtrans %}</a>
																																																									</li>
																																																								{% endif %}#}
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li class="nav-item   ">
									<a class="nav-link" href="{{path('app_logout')}}">
										<i class="fas fa-sign-out-alt"></i>
										{% trans %}Logout{% endtrans %}</a>
								</li>
								<li class="nav-item   ">
									<a class="nav-link" href="{{path('app_profile')}}">
										<i class="fas fa-id-card"></i>
										{% trans %}Profile{% endtrans %}</a>
								</li>


							{% else %}
								<li class="nav-item   ">
									<a class="nav-link" href="{{path('app_login')}}">
										<i class="fas fa-sign-in-alt"></i>
										{% trans %}Connecte{% endtrans %}</a>
								</li>
								<li class="nav-item   ">
									<a class="nav-link" href="{{path('app_register')}}">
										<i class="fas fa-user-circle"></i>
										{% trans %}Nouveau Compte{% endtrans %}</a>
								</li>

							{% endif %}
							{{ render(controller(
        'App\\Controller\\PanierController::artPanier'
    )) }}
							{% for locale in locales  %}
								{% if locale != app.request.locale %}
									<li class="nav-item   ">

										<a class="nav-link" href="{{path ('change_locale' , {'locale' : locale})}}">
											<figure><img src="{{asset('image/'~ locale ~'.png')}}" alt="langue {{locale}}">{% trans %}langue{% endtrans %}</figure>
										</a>
									</li>

								{% endif %}
							{% endfor %}
						</ul>

					</div>
				</div>
			</nav>
		{% endblock %}
	</header>
	{%  block carousel %}
		<div>
			<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<ol class="carousel-indicators">
					<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
					<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active"></li>
					<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="active"></li>
				</ol>
				<div class="carousel-inner " data-interval="8000">
					<div class="carousel-item active">
						<div class="overlay-image" style=" background-image: url(../image/444.jpg)" alt="femme avec lunette"></div>
						<article class="carousel-caption  d-block">
							<h1>{% trans %}Service Réactif{% endtrans %}
							</h1>
							<p>{% trans %}A Votre service À tout Moment.{% endtrans %}</p>
							<button class=" neon ">
								<a href="{{path('contact')}}">{% trans %}Contactez-Nous{% endtrans %}</a>
							</button>
						</article>
					</div>
					<div class="carousel-item " data-interval="8000">
						<div class="overlay-image" style=" background-image: url(../image/666.jpg)" alt="lunette avec boitier"></div>
						<article class="carousel-caption d-block">
							<h1>{% trans %}Ouvert 7/7{% endtrans %}</h1>
							<p>{% trans %}Tous Nos Magazins Sont Ouverts{% endtrans %}
								<br>
								9h00 A 18H00 .</p>
							<button class=" neon">
								<a href="{{path ('magasins')}}">{% trans %}Consulter{% endtrans %}</a>
							</button>
						</article>
					</div>
					<div class="carousel-item " data-interval="8000">
						<div class="overlay-image" style=" background-image: url(../image/55.jpg)" alt="presentation lunette"></div>
						<article class="carousel-caption  d-block">
							<h1>{% trans %}La Solution A Votre Portée{% endtrans %}</h1>
							<p>{% trans %}
								Un Grand Choix De Montures{% endtrans %}
							</p>
							<button class=" neon">
								<a href="{{path ('filter')}}">{% trans %}Consulter{% endtrans %}</a>
							</button>
						</article>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">{% trans %}Previous{% endtrans %}</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">{% trans %}Next{% endtrans %}</span>
				</a>
			</div>
		</div>
	{% endblock %}
	<main>
		{% block content %}{% endblock %}

		<hr class="my-4">
		<aside class="container-fluid padding">
			<div class="row text-center padding ">
				<div class="col-12">
					<h1>{% trans %}SUIVEZ NOUS{% endtrans %}</h1>
				</div>
				<div class="col-12 social padding">
					<a href="https://www.facebook.com/Lunette-1894407450831454" target="_blank">
						<i class='fab fa-facebook'></i>
					</a>
					<a href="https://twitter.com/glasses_direct" target="_blank">
						<i class='fab fa-twitter'></i>
					</a>

					<a href="https://www.instagram.com/stylefashionnowhot/" target="_blank">
						<i class='fab fa-instagram'></i>
					</a>
					<a href="https://www.youtube.com/channel/UConS0kmsBSZrA_D3E4mNaeA" target="_blank">
						<i class='fab fa-youtube'></i>
					</a>
				</div>
			</div>
		</aside>
	</main>
	<footer>
		<div class="container-fluid padding">
			<div class="row text-center ">
				<div class="col-md-4">
					<h5>
						<i class="fas fa-address-book"></i>
						{% trans %}
						Contactez-Nous{% endtrans %}
					</h5>
					<hr class="light">

					<p>
						<a href="tel:+33753750622" id="lien-footer">
							<i class="fas fa-phone"></i>
							{% trans %}Appelez Nous{% endtrans %}</a>
					</p>
					<p>
						<a href="sms:+33753750622" id="lien-footer">
							<i class="fas fa-envelope"></i>
							{% trans %}Envoyer Un Message{% endtrans %}</a>
					</p>
					<p>
						<a href="{{path('contact')}}" id="lien-footer">
							<i class="fas fa-at"></i>
							{% trans %}Envoyer Un Email{% endtrans %}</a>
					</p>

				</div>
				<div class="col-md-4">
					<h5>
						<i class="fas fa-calendar-week"></i>
						{% trans %}
						Heures De Travail{% endtrans %}
					</h5>

					<hr class="light">
					<p>{% trans %}Lundi{% endtrans %}
						: 9-AM  6-PM
					</p>
					<p>{% trans %}Mardi{% endtrans %}
						: 9-AM  6-PM</p>
					<p>{% trans %}Mercredi
						{% endtrans %}
						: 9-AM  6-PM</p>
					<p>{% trans %}Jeudi
						{% endtrans %}
						: 9-AM  6-PM</p>
					<p>{% trans %}Vendredi
						{% endtrans %}
						: 9-AM  6-PM</p>
				</div>
				<div class="col-md-4">
					<h5>
						<i class="fas fa-quote-right"></i>
						{% trans %}Autre{% endtrans %}</h5>
					<hr class="light">
					<p>
						<a href="{{path("qui-sommes-nous")}}" id="lien-footer">{% trans %}A Propos De Nous{% endtrans %}</a>
					</p>

					<p>
						<a href="{{path("cgv")}}" id="lien-footer">{% trans %}CGV{% endtrans %}</a>
					</p>

					<p>
						<a href="{{path("cgv")}}" id="lien-footer">{% trans %}Montions Légales{% endtrans %}</a>
					</p>
					<p></p>
				</div>
				<div class="col-12">
					<hr class="light">
					<h5>&copy;BEAUTY-EYES</h5>
				</div>

			</div>
		</div>
	</footer>
{% endblock %}
