{% extends "layout.html.twig" %}
{% block meta %}
	<meta name="description " content="{% for marque in marques %}{{marque.nomMarque}}-{% endfor %}lunettes contre la lumiere bleue, de soleil et de vue design directement de l'usine au consommateurs. trouvez votre style">
{% endblock %}
{% block title %}
	Griffa plusieurs marques de luxe
{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	{% for message in app.flashes('message')%}
		<div class='alert alert-success'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes('warning')%}
		<div class='alert alert-warning'>{{message}}</div>
	{% endfor %}
	{% for message in app.flashes(' danger')%}
		<div class=' alert alert-danger'>{{message}}</div>
	{% endfor %}

	<div class="container-marques">

		<div class="row marques">
			{% for marque in marques %}
				<div class="col-md-3 col-sm-12 col-12 ">
					<div class="product-grid marques " onclick="location.href='{{path('marque-show', {'id': marque.id})}}'" style=" background-image: url(../image/mar{{loop.index}}.jpg)"></div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}
