{% extends "layout.html.twig" %}
{% block title %}
	Page non trouvée
{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<p class='text'>code Erreur :{{status_code}}</p>
			<p class='text'>Message Erreur :{{status_text}}</p>
			<p class='text'>{{exception.message}}</p>
			<p>{{exception.message}}</p>
			<a href="{{path('home')}}">Go To Homepage</a>
		</div>
	</div>
{% endblock %}
